html {
  /*background-image: url(images/warrior2.png), url(images/Birds.png) ;*/
  background-color: black;
  /*background-size: contain;
  background-repeat: no-repeat;*/
}

body {
}

header {
}

h1 {
  text-align: center;
  color: white;
  font-size: 100px;
}

/*img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;


}*/
.image-wrapper {
  max-width: 100%;
  overflow: hidden;
}

.image-wrapper .parallax {
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 90%;
}

.parallax img {
  max-width: 100%;
}

#image1 {
  z-index: 10;
}

#image2 img {
  width: 100%;
  height: auto;
  margin-top: -27px;
}

.title {
  margin-top: 640px;
}

@media (max-width: 600px) {
  .title {
    margin-top: 300px;
  }

  .image-links {
    margin-top: -200px !important;
  }
}

.photo {
  position: relative;
}

.photo1 img {
  width: 250px;
  height: 300px;
}

.photo2 img {
  width: 215px;
  height: 365px;
  margin-top: 700px;
}

.photo3 img {
  width: 177px;
  height: 300px;
}

.photo-animation1 {
  animation: MoveUpDown 4s ease-in-out infinite;
  position: absolute;
  left: 50px;
}

.photo-animation2 {
  animation: MoveUpDown 4s ease-in-out infinite;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.photo-animation3 {
  animation: MoveUpDown 4s ease-in-out infinite;
  position: absolute;
  right: 100px;
  bottom: 0;
}

@keyframes MoveUpDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 0;
  }
}

.image-links {
  max-width: 100%;
  position: relative;
  height: 500px;
  z-index: 9999;
  margin-top: -600px;
}

.image-links a {
  -webkit-transition: all 1s ease-in-out; /* Safari and Chrome */
  -moz-transition: all 1s ease-in-out; /* Firefox */
  -ms-transition: all 1s ease-in-out; /* IE 9 */
  -o-transition: all 1s ease-in-out; /* Opera */
  transition: all 0.5s ease-in-out;
  display: block;
  position: relative;
  z-index: 99;
}

.image-links a:hover {
  -webkit-transform: scale(1.15); /* Safari and Chrome */
  -moz-transform: scale(1.15); /* Firefox */
  -ms-transform: scale(1.15); /* IE 9 */
  -o-transform: scale(1.15); /* Opera */
  transform: scale(1.15);
}

/*@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
img {
    animation: blink 1s;
    animation-iteration-count: infinite;
}*/
